# virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# environment variables
.env
*.env
.vercel

app/models/custom_objects/

# deploy on pythonanywhere.org
.wsgi
wsgi.py

# Database files
*.db
*.sqlite
*.sqlite3
data/

# Large binary files
*.pt
*.pth
*.onnx
*.zip
*.exe
*.dll

# Ignore test scripts
tests/
frontend/
farmApp/

# Ignore scripts
scripts/

